*{
	margin:0px;
	padding:0px;
   
	
}

body{
   height: 100%;
   background-image: url("./assets/imgs/Valoran-City-Star-Guardian-League-of-Legends-4K-Wallpaper.jpg");
   background-position: center;
   background-attachment: fixed;
   
   justify-content: center;
}

.Conteudo{
   background-color: rgba(0, 0, 0, 0.11);
   padding-top: 5%;
   padding-bottom: 10%;
   
   
}







